@tailwind base;
@tailwind components;
@tailwind utilities;

.naman{
  -webkit-mask-image: linear-gradient(to bottom, transparent 100%, black 100%);
  mask-image: linear-gradient(to bottom, transparent 5%, black 100%);
}

.naman1{
  -webkit-mask-image: linear-gradient(to top, transparent 100%, black 50%);
  mask-image: linear-gradient(to top, transparent 5%, black 50%);
}
